REACT_APP_API_URL="SEU DOMÍNIO AQUI"
REACT_APP_ROUTE_LOGIN=/auth
REACT_APP_ROUTE_PING=/auth/ping
REACT_APP_ROUTE_POSTOS=/postos
REACT_APP_ROUTE_CHECKIN=/check/in
REACT_APP_ROUTE_CHECKOUT=/checkout/registrar
REACT_APP_ROUTE_RELATORIO_CHECKINS=/admin/relatorios/checkins
REACT_APP_ROUTE_RELATORIO_CHECKOUTS=/admin/relatorios/checkouts